/* 
Integration BOXE
author: BAROUDE NTSIBA
Contributor: MIKE PERNELLE
*/



body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

header {
    background-color: #fff;
    display: flex;
    height: 100px; 
    padding-top: 20px;
    padding-left: 180px;

}

#main li a {
    text-decoration: none;
    
}

.header-page{
    background-image: url("../img/header-page-catalogue.png");
    background-repeat: no-repeat;
    margin-left: 200px;
    height: 334px;
}

#main {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: auto;
}



#main #gant-section1, #gant-section2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
}

#gant-section1, #gant-section2  {
    width: 100%;
}

/* pour figure et figcaption  et les images*/
img {
    max-width: 100%;
}

figure {
    display: flex;
    /* flex-flow: column; */
    flex-direction: row;
    flex-wrap: wrap;
    width: 270px;
 }
 


 figcaption {

 }




.product_name {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px
}
footer {
    margin: auto;
    background-color: #ccc;
}
#reseaux {
   display: flex;
   justify-content: center;


}

#footer-nav{
    background: #f8f8f8;
    padding: 10px;
    margin-left: 12%;
    margin-right: 12%;
   
    display: flex;
    flex-direction: row;
}

a::before {
    content:".";
    color: gray;
}

#footer-nav a {
    background: #f8f8f8;
    /* align-content:space-around; */
    text-decoration: none;
   margin: auto;
   color: black;
   /* padding-left: 8%;
   padding-right: 8%; */

}

#service-bloc {
    display: flex;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;

}

#img-texte {
    width: 60%;
    flex: 25%;
    margin: 0;
    padding: 0;
    
}

/* classes */
.margin-top {
    margin-top: 10px;
    text-align: center;
}

#service-footer {
    width: 900px;
}